@using EPAM.AwardsAndUsers.Common.Dependencies;
@using EPAM.AwardsAndUsers.Common.Entities;
@{
    List<User> users = DependencyResolver.Instance.UsersAndAwardsBLL.GetAllUsers();
}

@if (users.Count == 0)
{
    <form method="post">
        <div class="mb-3">
            <label for="disabledSelect" class="form-label">Select user</label>
            <select id="disabledSelect" class="form-select" name="UserList" disabled>
                <option>Please, add user before edit him.</option>
            </select>
        </div>
    </form>
}
else
{
    <form method="post">
        <div class="mb-3">
            <label for="disabledSelect" class="form-label">Select user</label>
            <select id="disabledSelect" class="form-select" name="UserList">
                 @foreach (var item in users)
                 {
                    <option value="@item.id">@item.Name, @item.DateOfBirth</option>
                 }
            </select>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input name="username" type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Lionel Messi" required>
        </div>
        <div class="mb-3">
            <label for="birthdate" class="form-label">Birthdate</label>
            <input name="birthdate" type="text" class="form-control" id="birthdate" placeholder="date should be in this format ----> 12.12.1997" required>
        </div>
        <button id="editUser" tupe="submit" class="btn btn-primary">Edit User</button>
    </form>
}