@using EPAM.AwardsAndUsers.PL.WebPL.Models;
@using EPAM.AwardsAndUsers.Common.Dependencies;
@using EPAM.AwardsAndUsers.Common.Entities;

@{
    Layout = "~/Layouts/_OptionPage.cshtml";

    Page.Title = "AddUser";

    if (IsPost)
    {
        try
        {
            InputHelper help = new InputHelper();
            string username = Request["username"];
            DateTime birthdate = help.InputDate(Request["birthdate"]);
            DependencyResolver.Instance.UsersAndAwardsBLL.AddUser(new User(username, birthdate));
        }
        catch (Exception e)
        {
            Response.Redirect("~/Pages/errorPage");
        }
    }
}

<form id="userForm" method="post">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input name="username" type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Lionel Messi" required>
    </div>
    <div class="mb-3">
        <label for="birthdate" class="form-label">Birthdate</label>
        <input name="birthdate" type="text" class="form-control" id="birthdate" placeholder="date should be in this format ----> 12.12.1997" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
@if (IsPost)
{
    <br />
    <div class="alert alert-success" role="alert">
         User has been succesfully added!
    </div>
}
