@using EPAM.AwardsAndUsers.PL.WebPL.Models;
@using EPAM.AwardsAndUsers.Common.Dependencies;
@using EPAM.AwardsAndUsers.Common.Entities;

@{
    Layout = "~/Layouts/_OptionPage.cshtml";
    Page.Title = "Edit Award";
    DataModel dataModel = new DataModel();
    dataModel.AwardCount = DependencyResolver.Instance.UsersAndAwardsBLL.GetAllAwards().Count();

    if (IsPost)
    {
        try
        {
            string awardID = Request["AwardList"];
            Guid id = Guid.Parse(awardID);
            IEnumerable<Award> awards = DependencyResolver.Instance.UsersAndAwardsBLL.GetAllAwards();
            Award award = awards.FirstOrDefault(item => item.id == id);
            string awardTitle = Request["Title"];
            award.EdtiTitle(awardTitle);
            DependencyResolver.Instance.UsersAndAwardsBLL.UpdateAward(award);
        }
        catch (Exception e)
        {
            Response.Redirect("~/Pages/errorPage");
        }
    }
}

<form method="post">
    <div class="mb-3">
        @RenderPage("~/Partial Pages/_EditAward.cshtml")
    </div>
    <div class="mb-3">
        <label for="Title" class="form-label">Title</label>
        <input name="Title" type="text" class="form-control" id="Title" aria-describedby="emailHelp" placeholder="any text" required>
    </div>
    @if(dataModel.AwardCount != 0)
    {
        <button tupe="submit" class="btn btn-primary">Edit Award</button>
    }
</form>

@if (IsPost)
{
    <br />
    <div class="alert alert-success" role="alert">
        Award has been succesfully edited!
    </div>
}



