@using EPAM.AwardsAndUsers.PL.WebPL.Models;
@using EPAM.AwardsAndUsers.Common.Dependencies;
@using EPAM.AwardsAndUsers.Common.Entities;

@{
    Layout = "~/Layouts/_OptionPage.cshtml";
    Page.Title = "Remove Award";
    DataModel dataModel = new DataModel();
    dataModel.AwardCount = DependencyResolver.Instance.UsersAndAwardsBLL.GetAllAwards().Count();

    if (IsPost)
    {
        string awardID = Request["AwardList"];
        Guid id = Guid.Parse(awardID);
        dataModel.AwardSearchResult = DependencyResolver.Instance.UsersAndAwardsBLL.CheckUsersHasAward(id);
        if (!dataModel.AwardSearchResult)
        {
            DependencyResolver.Instance.UsersAndAwardsBLL.RemoveAward(id, false);
        }
        else
        {
            DataModel.awardID = id;
            Response.Redirect("~/Pages/ConfirmDeleting");
        }
    }
}

<form method="post">
    <div class="mb-3">
        @RenderPage("~/Partial Pages/_EditAward.cshtml")
    </div>
    @if (dataModel.AwardCount != 0)
    {
        <button tupe="submit" class="btn btn-primary">Delete Award</button>
    }
</form>


