body {
  font-size: 15px;
}

.mainList {
  box-sizing: border-box;
  width: 200px;
  background-color: #F0E68C;
  color: #8B0000;
  list-style: none;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 0 0px black;
  text-align: left;
}

.mainList li {
  margin-left: -20%;
  margin-top: 0.5rem;
}

.mainList li:last-child {
  margin-bottom: 0.5rem;
}
